<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<!--
	$LAYOUT_TITLE은 default layout 페이지의 title,
	$CONTENT_TITLE은 content 페이지의 title
-->
<title data-layout-title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Thymeleaf Layout Example</title>
</head>
<body>
	<!-- Header Area -->
	<header data-th-replace="layout/header :: header">  <!-- layout/header.html의 header fragment에 접근 -->
		<p>This is default Header area.</p>
	</header>
	
	<!-- Content Area -->
	<section id="content" data-layout-fragment="content">
		<p>This is default Content area.</p>
	</section>
	
	<!-- Footer Area -->
	<footer data-th-replace="layout/footer :: footer">  <!-- layout/footer.html의 footer fragment에 접근 -->
		<p>This is default Footer area.</p>
	</footer>
</body>
</html>