<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Getting Started : Spring + Thymeleaf</title>
</head>
<body>
	<!-- if/unless = th:if / th:unless -->
	<p th:if="${trueCondition}">True Condition</p>
	<p th:if="${falseCondition}">False Condition : Not Display</p>
	<p th:if="${not falseCondition}">False Condition(not) : Display</p>
	<p th:unless="${falseCondition}">False Condition(th:unless) : Display</p>
	
	<!-- switch-case -->
	<div th:switch="${switchCase}">
		<p th:case="'case1'">Case1 : Display</p>
		<p th:case="'case2'">Case2 : Not Display</p>
		<p th:case="*">Default : Not Display</p>
	</div>
</body>
</html>